form action=("/pomarolo/interruption/{{ interruption.pomodoro }}") method="POST"
  input name="interruption[description]" type="text" value=("#{interruption.description}")
  input name="interruption[pomodoro]" type="hidden" value=("#{interruption.pomodoro}")
